*{
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background: url(img/dirt-bg.png);
}


header{
  padding: 20px;
  background: linear-gradient(#744529, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
header h1{
  color: white;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
}
header nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
header nav a{
  font-size: 1.4em;
  margin-left: 20px;
}
header a{
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition-duration: 0.5s;
}
header a:hover{
  background-color: white;
  color: rgb(80, 27, 27);
}



.header-container{
  width: 90%;
  margin: auto;
}





.first-section{
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;

  height: 100vh;

  background: url(img/darker-bg.jpg);
}
.first-section-container{
  display: flex;
  flex-direction: column;

  margin: auto;
  align-items: center;
}
.first-section h1{
  text-align: center;
  color: white;
  font-size: 4.5em;
}
.first-section a{
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 30px;

  background-color: rgba(0, 0, 0, 0.021);
  border: 2px solid white;
  color: white;
  transition-duration: 0.5s;
}
.first-section a:hover{
  background-color: white;
  color: black;
}


section{
  margin-bottom: 150px;
  padding-top: 50px;
}
.section-about-us-container{
  width: 80%;
  margin: auto;
}
.section-about-us h1, .section-samples h1, .section-opensea h1{
  text-align: center;
  color: white;
  font-size: 3.5em;
}
.section-about-us p, .section-opensea p{
  font-size: 1.5em;
  color: white;
  text-align: center;
}



.section-samples, .section-opensea{
  width: 80%;
  margin: auto;
}
.img-row{
  display: flex;
  justify-content: center;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.img-row div{
  margin: 30px;
}
.img-row p{
  font-size: 1.66em;
  text-align: center;
  color: white;
}
#observation{
  color: white;
  font-size: 1.5em;
  width: 70%;
  margin: auto;
  text-align: center;
}




.section-opensea{
  display: flex;
  flex-direction: column;

  margin: auto;
  align-items: center;
  margin-top: 50px;
}

.section-opensea p{
  margin-bottom: 50px;
}

.section-opensea a{
  font-weight: bold;
  padding: 20px;
  border-radius: 20px;
  background-color: #2081E2;
  color: white;
  text-decoration: none;
  font-size: 25px;
}




footer{
  display: flex;
  align-items: center;
  padding-top: 100px;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0),#744529);
}
footer p{
  color: white;
  font-size: 1.5em;
  width: 70%;
  margin: auto;
  text-align: center;
}